.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
    color: #1abc9c;
}

li a:hover {
    background-color: #1abc9c;
    color: black;
}

.bg-1 {
    background-color: white;
}

.red {
    color: red;
}